.main {
    width: 100%;
    background-color: #0C2243;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerTxt {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    opacity: 0.75;
    padding: 22px 0;
}

@media screen and (max-width: 767px) {
    .main {
        width: 100%;
        background-color: #0C2243;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
    }
}